#container{
	background-color:forestgreen;
	
	border-style:dashed;
	border-width: thin;
	height:400px;
	width:400px;
	margin-top:10px;
	white-space:nowrap;
	overflow-x: auto;
}

.divRow{
	margin: 0px;
	padding: 0px;
}

.divGrid{
	background-color: lightgray;
	height:100%;
	float: left;
}

.divHover{
	background-color:red;
	height:100%;
}

/*.divGridInner{
	background-color: darkgray;
	height:90%;
	width:90%;
	margin:auto;
	
	
}*/
